.categoryDiv {
  height: 106px;
  width: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  &:hover .svg {
    fill: #ff751d;
  }
}

.categoryDiv:nth-last-child(-n + 6) {
  margin-bottom: 0;
}
.categoryDiv:not(:nth-child(6n)) {
  @media screen and (min-width: 768px) {
    margin-right: 33px;
  }
}
.categoryDiv:not(:last-child) {
  @media screen and (max-width: 767.5px) {
    margin-right: 13px;
  }
}
.svg {
  transition: fill 250ms linear;
}

.sum {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #52555f;
}
.category {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #52555f;
}
.mainDiv {
  width: 278px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 20px;
}
.ul {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  border-bottom: 1px solid #e0e5eb;
}
.ul:not(:last-child) {
  margin-bottom: 21px;
}

.divPc {
  margin: 0 auto;
  max-width: 704px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 1280px) {
    max-width: 650px;
  }
}
.mainDivPc {
  margin: 0 auto;

  width: 704px;
  padding: 20px 0;
  background: #ffffff;
  /* shadow 1 */

  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  @media screen and (min-width: 1280px) {
    width: 1034px;
    padding: 30px 0;
  }
}
