.link {
  display: flex;
  align-items: center;
}
.svg {
  margin-right: 19px;
}
.MainPage {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--text-color-faded);
}
