.link {
  display: inline-flex;
  align-items: center;
  margin-bottom: 22px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.svg {
  margin-right: 19px;
}
.MainPage {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--text-color-faded);
}
