.divReturnCurrent {
  padding-top: 22px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1280px) {
    width: 1033px;
  }
}
