.reports {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 43px;

}
.description:hover
 {
    color: var(--accent-color);
}

.description {
    margin-right: 20px;
    color: var(--text-color-faded);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
