@import '../../sass/main.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  @include tablet {
    justify-content: flex-start;
    margin-right: 44px;
    margin-bottom: 0;
  }
  @include desktop {
    margin-right: 36px;
  }
}

.datePicker {
  display: block;
  text-align: center;
  width: 74px;
  height: 40px;

  color: #52555f;
  background-color: transparent;
  border: transparent;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.img {
  display: block;
  // position: absolute;
  // right: 58%;
}
