@import '../../sass/main.scss';

.containerBtn {
    display: flex;
    text-align: center;

    @include mobile {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 12px;
    }
}

.button {
        padding: 15px 30px;
        border: none;
        font-weight: 700;
            font-size: 12px;
            line-height: 14px;
        text-transform: uppercase;
        background-color: #FAFBFD;
        color: #000000;
        cursor: pointer;
    
       
@include mobile {
    width: 50%;
    &:hover {
            background-color: var(--accent-color);
            color: #ffff;
        }
                 &:not(:last-child) {
                     margin-right: 2px;
                 }
}
@include tablet {
    width: 138px;
border-top-left-radius: 22px;
border-top-right-radius: 22px;
&:hover {
    color: var(--accent-color);
}
                                                  }
        }
           
   

                  
        
                        
        .active {
        composes: button;
        background-color: var(--accent-color);
        color: var(--background-color-main);
        }
                @include tablet {
            background-color: #fefefe;
            color: var(--accent-color);
        }
    
