* {
  box-sizing: border-box;
}

.wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: 496px;
  margin: 0 auto;
  // padding: 30px 20px 40px 20px;

  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(2, 23, 42, 0.1);
  border-radius: 15px;
  @media screen and (min-width: 480px) {
    width: 426px;
  }

  @media screen and (min-width: 768px) {
  }
}
.login {
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 0 auto 32px;
}
.google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;

  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  background: #f6f7fb;
  border: 1px solid #f6f7fb;
  border-radius: 26px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: all 400ms cubic-bezier(0.37, 0.6, 0.82, 0.41);

  &:hover {
    color: #fff;
    background: var(--accent-color);
    border: 1px solid #f6f7fb;
  }

  &::before {
    content: '';
    background-image: url(../../shared/images/svg/G_Logo.svg);
    background-repeat: no-repeat;

    width: 20px;
    height: 20px;
    margin-right: 10px;
    // border-top: 10px solid transparent;
    // border-bottom: 10px solid transparent;
    // border-right: 10px solid #f6f7fb;
  }
}

.title {
  width: 238px;
  margin: 0 auto 16px;

  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;

  color: #52555f;

  @media screen and (min-width: 480px) {
    width: 260px;
    margin: 0 auto 20px;
  }
  @media screen and (min-width: 768px) {
  }
}

.wrapInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text {
  width: 238px;
  margin: 0 auto 12px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}

.input {
  width: 240px;
  height: 52px;
  // margin-top: 12px;
  // margin-bottom: 20px;
  margin: 0 auto 20px;
  padding: 20px;
  background-color: #f6f7fb;

  color: inherit;
  border-radius: 30px;
  border: 1px solid #f6f7fb;

  @media screen and (min-width: 768px) {
    width: 260px;
    margin: 0 auto 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 260px;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: #a6abb9;
  }

  &:last-child {
    margin-bottom: 40px;
  }
}

.wrapButton {
  display: flex;
  justify-content: space-evenly;

  @media screen and (min-width: 480px) {
    justify-content: center;
    &:first-child {
      margin-right: 15px;
    }
  }
}
.buttonSignIn {
  width: 115px;
  height: 44px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #fff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: all 400ms cubic-bezier(0.37, 0.6, 0.82, 0.41);

  &:hover {
    background-color: #fff;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  @media screen and (min-width: 480px) {
    margin-right: 15px;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 125px;
  }
}
.buttonSignUp {
  width: 115px;
  height: 44px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000;
  background-color: #f6f7fb;
  border: 1px solid #f6f7fb;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: all 400ms cubic-bezier(0.37, 0.6, 0.82, 0.41);

  &:hover {
    color: #fff;
    background: var(--accent-color);
    border: 1px solid #f6f7fb;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 125px;
  }
}
