@import '../../../sass/main.scss';
.background {
    position: absolute;
    height: 290px;
    width: 100%;
    background-color: #f5f6fb;
    border-bottom-left-radius: 30%;
    z-index: 1;

@include tablet {
        height: 526px;
    }

    @include desktop {
        height: 70%;
    }
}