.section {
    padding-top: 22px;
    background: linear-gradient(to bottom, #F5F6FB 70% , #FFFF 30%);
}

.link { display: block;
margin-bottom: 22px;
}

.img {
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

.calendar {
    margin-bottom: 22px;
}

