.balance {
  margin-bottom: 10px;
  text-align: center;
  color: var(--text-color-faded);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding-left: 19px;
  text-align: right;
  width: 140px;
  height: 44px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  background-color: transparent;
  border: 2px solid #ffff;
  border-radius: 22px 0px 0px 22px;
  z-index: 2;
}

input::placeholder {
  color: black;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.button {
  width: 140px;
  height: 44px;
  color: var(--text-color-faded);
  background-color: transparent;
  border: 2px solid #ffff;
  border-radius: 0px 22px 22px 0px;
  cursor: pointer;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffff;
}

.container {
  position: relative;
}
