
.background {
background-color: #f5f6fb;
  border-bottom-left-radius: 40%;
  padding-top: 45px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}
.title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
  height: 44px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;

  color: #ffff;
  background-color: var(--accent-color);

  border-radius: 22px 22px 22px 22px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
    .link {
        display: none;
    }
}

// @media screen and (min-width: 1280px) {
//   .link {
//     display: none;
//   }
// }

.link:visited {
  color: #ffff;
}
