@import '../../sass/main.scss';

.section {
  @include mobile {
    padding-top: 30px;
      padding-bottom: 30px;
  }
@include tablet {
padding-bottom: 60px;
}
@include desktop {
  padding: 40px 91px 60px 91px;
  background-image: url(../../shared/images/svg/Cabbages-group.svg);
  background-repeat: repeat-x;
  background-position: 0% 100%;
}
}
.title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


// @media screen and (min-width: 1280px) {
//   .link {
//     display: none;
//   }
// }


